.question-form-container {
  max-width: 800px;
  margin: 10px auto;
}

mat-card-content {
  font-size: 30px;
  box-shadow: none;
}

li {
  list-style: none;
  border: solid #129490 1px;
  margin: 4px;
  padding: 5px;
  padding-left: 8px;
}

.choice-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chinese-label {
  font-size: 16px;
  font-weight: normal;
  margin-top: -15px;
  margin-bottom:10px;
}

input {
  margin-right: 10px;
}
