.ion-page {
  background-color: #fff;
}

h1,
h2,
h3,
p,
a {
  color: rgb(34, 34, 34) !important;

  // -webkit-text-fill-color: rgb(34, 34, 34) !important;
}

// .ion-list {
//   display: none !important;
// }

.item-inner {
  display: none !important;
}

.ion-list{
  background-color:white !important;
  color:black !important;
}